* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    background: #242526;
    position: relative;
    height: 50px;
    line-height: 50px;
}
.inner {
    /* width: 100%; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.logo h4 {
    margin-left: 20px;
    font-size: 24px;
    font-weight: 900;
    color: #fff;
}
.drop_one {
    display: flex;
    margin: auto;
    font-size: 18px;
    font-weight: 600;
}
.drop_one > li {
    position: relative;
    padding: 0 50px;
    list-style: none;
}
.drop_one > li > a {
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}
.drop_menu {
    background: #f2f2f2;
    position: absolute;
    left: 15%;
    display: none;
}
.drop_menu li {
    list-style: none;
}
/* .drop_menu li a {
} */
.drop_menu li:hover,
.drop_menu a:hover   {
    background: #242526;
    color: #fff;
}
.drop_one li:hover .drop_menu {
    display: block;
}
.drop_menu > li > a {
    color: #242526;
    text-decoration: none;
}



